# General
.env
.env.*
*.log

# Docker
db_data
.docker

# Node
node_modules
dist

# Laravel
backend/vendor
backend/node_modules
backend/storage/*.key
backend/.env

# Vue
frontend/node_modules
frontend/dist

# OS
.DS_Store
Thumbs.db
